
.venv/
__pycache__/
*.pyc
*.pyo
*.npz
*.npy
*.log
trained_models/
*.swp
*.swo
*.DS_Store
*.egg-info/
*.bak
*.tmp
*.old
!trained_models/**/*.json
!trained_models/**/*.npz__pycache__/
*.pyc
to do.txt
.env
crib_cache.db
scripts/temp_db_script_thing.py
il_datasets/
models/
